<form class="box p-5" action="/admin/novedades/modificar" enctype="multipart/form-data" method="post">
    <input type="hidden" value="{{novedad.id}}" name="id">
    <div class="row">
        <h3 class="Tlogin col">Modificar Noticia</h3>
        <a href="/admin/novedades" class="nav-link btn-outline-dark col-1"><i
                class="fa-solid fa-circle-chevron-left"></i></a>
    </div>
    {{#if error}}
    <p><i class="fa-solid fa-circle-exclamation"></i> {{message}}</p>
    {{/if}}
    <div class="mb-3 mt-3">
        <label for="exampleInputEmail1" class="form-label">| Titulo</label>
        <input type="text" class="form-control" value="{{novedad.titulo}}" name="titulo" id="inputUser">
    </div>
    <div class="mb-3">
        <label class="form-label ">| Subtitulo</label>
        <input type="subtitulo" class="form-control " value="{{novedad.subtitulo}}" name="subtitulo" id="subtitulo">
    </div>
    <h6>| Imagen</h6>
    <div class="input-group">
        <label class="input-group-text" for="imagen"><i class="fa-solid fa-image"></i></label>
        <input type="file" class="form-control" name="imagen" id="imagen">
    </div>
    <div class="form-check form-switch mb-3">
        <input class="form-check-input" name="img_delete" type="checkbox" value="1" role="switch" id="img_delete">
        <label class="form-check-label" for="img_delete">Eliminar imagen actual</label>
        <input type="hidden" name="img_original" value="{{novedad.img_id}}">
    </div>
    <div class="mb-3">
        <label for="cuerpo" class="form-label">| Cuerpo</label>
        <textarea class="form-control" id="cuerpo" name="cuerpo" rows="5">{{novedad.cuerpo}}</textarea>
    </div>
    <button type="submit" class="btn btn-outline-dark ">Guardar</button>
</form>